# -*- conf -*-


# This file is part of mydot.

# mydot is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# mydot is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with mydot.  If not, see <https://www.gnu.org/licenses/>.

# Copyright (c) 2020-2021, Maciej Barć <xgqt@riseup.net>
# Licensed under the GNU GPL v3 License


# Some general stuff
*.dump
*.egg-info/
*.ez
*.log
*.swp
*.tar
*_archive
*~
,*
.~lock.*
/.fetch/
/.idea/
/.vscode/
__pycache__/
_build/
build/

# Docs
/.docs/

# Emacs
emacs/.config/emacs/config.el
emacs/.config/emacs/gui-config.el

# Octave
octave-workspace

# ZSH
.zcalc_history
.zcompdump
.zhistory

# ZSH modal configuration
zsh/.config/zsh/emu.zsh-theme
zsh/.config/zsh/tty.zsh-theme
zsh/.config/zsh/zsh-greeter

# Legacy
zsh/.config/zsh/plugins/zsh-autosuggestions
zsh/.config/zsh/plugins/zsh-syntax-highlighting
