**/*.rs.bk
*.beam
*.dump
*.egg-info/
*.ez
*.log
*.swp
*.tar
*_archive
*~
,*
.zcompdump
.~lock.*
/.fetch/
/.idea/
/.vscode/
/build/
/cover/
/deps/
/dist/
/target/
__pycache__/
_build/
zsh/.config/zsh/emu.zsh-theme
zsh/.config/zsh/plugins
zsh/.config/zsh/tty.zsh-theme
zsh/.config/zsh/zsh-greeter
