# -*- conf -*-


# This file is part of mydot.

# mydot is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3.

# mydot is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with mydot.  If not, see <https://www.gnu.org/licenses/>.

# Copyright (c) 2021, Maciej Barć <xgqt@riseup.net>
# Licensed under the GNU GPL v3 License


[submodule "src/zsh/.config/zsh/plugins/autosuggestions"]
	path = src/zsh/.config/zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "src/zsh/.config/zsh/plugins/syntax-highlighting"]
	path = src/zsh/.config/zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting

[submodule "src/zsh/.config/zsh/plugins/k"]
	path = src/zsh/.config/zsh/plugins/k
	url = https://github.com/supercrabtree/k

[submodule "src/zsh/.config/zsh/plugins/z"]
	path = src/zsh/.config/zsh/plugins/z
	url = https://github.com/agkozak/zsh-z
