# This file is part of mydot.

# mydot is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3.

# mydot is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with mydot.  If not, see <https://www.gnu.org/licenses/>.

# Copyright (c) 2020-2021, Maciej Barć <xgqt@riseup.net>
# Licensed under the GNU GPL v3 License


[Desktop Entry]
Categories=Development;
Comment=Start Emacs Daemon and open a GUI frame
Comment[en_US]=Start Emacs Daemon and open a GUI frame
Exec=emacsclient -a "" -n -c --eval "(gui-load)"
GenericName=Start Emacsclient
GenericName[en_US]=Start Emacsclient
Icon=emacs
MimeType=text/css;text/english;text/html;text/plain;text/x-c;text/x-chdr;text/x-csrc;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-java;text/x-makefile;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;
Name=Start Emacsclient
Name[en_US]=Start Emacsclient
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=0.1
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
