#!/bin/sh

### Keyboard:
#
# Polish + hold caps=control
setxkbmap pl -option "caps:ctrl_modifier" &
#
# caps=escape
xcape -e "Caps_Lock=Escape" &

### Xset
#
# disable beeping
xset b off
#
# screensaver timeout
xset s 1200 0
