! Import from wal
#include ".cache/wal/colors.Xresources"

! Xft
Xft.antialias:		true

! URxvt
URxvt*loginShell:	true
URxvt*internalBorder:	0
URxvt*scrollBar:        false
URxvt.letterSpace:	0
URxvt*font:             xft:xos4 Terminus:size=12:style=regular
URxvt*boldFont:         xft:xos4 Terminus:size=12:style=regular

! XTerm
xterm*termName:		xterm-256color
XTerm.font:             xft:xos4 Terminus:size=12:style=regular
XTerm.boldFont:         xft:xos4 Terminus:size=12:style=regular
